.game-wrapper {
  --bg-initial: rgb(62, 61, 61);
}

.game-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  transition: all 0.3s linear;
  width: 100%;
}

.game-wrapper.initial {
  background-color: var(--bg-initial);
}

.game-wrapper.red {
  background-color: var(--bag-red);
}

.game-wrapper.blue {
  background-color: var(--bag-blue);
}

.game-wrapper-disable {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
